<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://lh3.ggpht.com/u9fEEhVWZ6uT36e3FIqmq30KKi-WViB0gECUWTYxF2d7qda3gNvxOwYJAdjAl7fecvD9=w300-rw">
</div>
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Route No">
    </mat-form-field>
  </div>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="route_no">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Route No </mat-header-cell>
      <mat-cell *matCellDef="let element" > {{element.route_no}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="service_type">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Service Type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.service_type}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="origin">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Origin </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.origin}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="destination">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Destination </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.destination}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="journy_time">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Journy Time </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.journy_time}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
